/* 
  Colors
  Blue: 30bced
  Grey: 303036
  White: fffaff
  Orange: fc5130
  Black: 050401
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;600&display=swap');

  .flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 5em;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    color: #fffaff;
  }

  .flex-container h2 {
    font-size: 32px;
    font-family: 'Open Sans';
  }

  .menu {
    position: relative;
    display: flex;
    background-color: red;
    justify-content: left;
    align-items: top;
    padding: .2em;
    height: 150px;
    width: 200px;
  }

  .menu ul {
    text-align: left;
    list-style: none;
  }

  .profile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 600px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
  }

  .username{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    height: fit-content;
  }

  .email{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    height: fit-content;
  }


  .button{
    position: absolute;
    right: 30px;
    color: #fffaff;
    background-color: #fc5130;
    border-radius: 5px;
    border: none;
  }

  .button:hover{
    background-color: #303036;
    color: white;
  }