/* 
  Colors
  Blue: 30bced
  Grey: 303036
  White: fffaff
  Orange: fc5130
  Black: 050401
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;600&display=swap');

* {
  background-color: #30bced;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    width: 300px;
    font-size: 30px;
  } 

  a:link {
    color: #fffaff;
    background-color: transparent;
  }

  a:visited {
    color: #fffaff;
    background-color: transparent;
  }
  
  a:hover {
    background-color: transparent;
  }

  .flex-container {
    display: flex;
    background-color: #30bced;
    color: #fffaff;
  }
  
  .flex-container > div {
    margin: 30px;
    padding: 20px;
    font-size: 30px;
  }

  .edit-profile{
    flex-basis: 100px;
	flex-grow: 4;
}

.menu-option{
    background-color: #fc5130;
    overflow:hidden;
    border-radius: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fffaff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fffaff;
  }

  .button{
      color: #fffaff;
      background-color: #fc5130;
  }

  .button:hover{
    background-color: #303036;
    color: white;
  }